#navbar { 
    color: #000000;
    padding: 3px;
    font: Noto Serif;
    font-size: 20px;
    text-decoration: none;
    display: flex;
}

.nav-button {
    margin: auto

}

.nav-button a{
    text-decoration: none;
    color: rgb(31, 31, 97);
    font: Noto Serif;

}

.nav-button a:hover {
    background-color: rgb(223, 223, 223);
    
}

#head {
    font: Noto Serif;
    color: rgb(31, 31, 97) 
}

.body a{
    font: Noto Serif;
    margin: auto;
    color: rgb(31, 31, 97)
}

#img-container {
    width: 70%;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 20px;
    border: black;
    background-color: rgb(223, 223, 223);
  }

  #img-containers {
    width: 70%;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    border: black;
    background-color: rgb(255, 254, 254);
    display: flex
  }

  #sidebyside {
    width: 70%;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    border: rgb(255, 252, 252);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    
  }

  #right-container {
    width: 70%;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 20px;
    border: black;
    background-color: rgb(223, 223, 223);
    height: 900px;
  }

  
  #small-container {
    width: 70%;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 20px;
    border: black;
    background-color: rgb(223, 223, 223);
    height: 550px;
  }

  #left-container {
    width: 70%;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 20px;
    border: black;
    background-color: rgb(223, 223, 223);
    height: 540px;
  }
  .text {
    padding-left: 10px;
    padding-top: 150px;
    font-size: 18;
    font: Noto Serif;
    color: rgb(31, 31, 97)

  }

  .texts {
    padding-left: 10px;
    padding-top: 0px;
    font-size: 18;
    font: Noto Serif;
    color: rgb(36, 36, 98);
    margin: center;

  }

  #typewriter {
    display: inline-block

  }
  .typed-out {
    overflow: hidden;
    border-right; 5px solid black;
    font-size: 18;
    font: Noto Serif;
    width: 0;
    white-space: nowrap;
    animation:
        typing 3s steps(80, end) forwards;

  }

  @keyframes typing {
    from {width: 0}
    to {width: 100%}
  }


  h2 {
    Font: Noto Serif;
    color: rgb(31, 31, 97);
    padding-left: 110px;
    font-size: 30;

  }

  h3 {
    Font: Noto Serif;
    color: rgb(31, 31, 97);
  }

  h4 {
    Font: Noto Serif;
    color: rgb(31, 31, 97);
  }

  @media (orientation: portrait) {
    #content {
      width: 100%;
    }
  }

 