#navbar { 
    color: #000000;
    padding: 3px;
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    text-decoration: none;
    display: flex;
}

.nav-button {
    margin: auto

}

.nav-button a{
    text-decoration: none;
    color: #004A80;
    font-family: 'Noto Serif', serif;

}

.nav-button a:hover {
    background-color: rgb(223, 223, 223);
    
}

#head {
    font-family: 'Noto Serif', serif;
    color: #004A80 
}

.body a{
    font-family: 'Noto Serif', serif;
    margin: auto;
    color: #004A80
}

#grid {
  
}

#img-container {
    width: 70%;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 20px;
    border: black;
    background-color: rgb(223, 223, 223);
  }

  #img-containers {
    width: 70%;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    border: black;
    background-color: rgb(255, 254, 254);
    display: flex
  }

  #sidebyside {
    
    width: 70%;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    border: rgb(255, 252, 252);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
  }

  #right-container {
    width: 70%;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 20px;
    border: black;
    background-color: rgb(223, 223, 223);
    height: 900px;
  }

  
  #small-container {
    width: 70%;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 20px;
    border: black;
    background-color: rgb(223, 223, 223);
    height: 550px;
  }

  #med-container  {
    width: 70%;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 20px;
    border: black;
    background-color: rgb(223, 223, 223);
    height: 650px;
  }


  #left-container {
    width: 70%;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 20px;
    border: black;
    background-color: rgb(223, 223, 223);
    height: 540px;
  }
  .text {
    padding-left: 10px;
    padding-top: 150px;
    font-size: 18;
    font-family: 'Noto Serif', serif;
    color: #004A80

  }

  .texts {
    padding-left: 10px;
    padding-top: 0px;
    font-size: 18;
    font-family: 'Noto Serif', serif;
    color: #004A80;
    margin: center;

  }

  #typewriter {
    display: inline-block

  }
  .typed-out {
    overflow: hidden;
    border-right; 5px solid black;
    font-size: 18;
    font-family: 'Noto Serif', serif;
    width: 0;
    white-space: nowrap;
    animation:
        typing 3s steps(80, end) forwards;

  }

  @keyframes typing {
    from {width: 0}
    to {width: 100%}
  }


  h2 {
    font-family: 'Noto Serif', serif;
    color: #004A80;
    padding-left: 110px;
    font-size: 30;

  }

  h3 {
    font-family: 'Noto Serif', serif;
    color: #004A80;
  }

  h4 {
    font-family: 'Noto Serif', serif;
    color: #004A80;
  }

 .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #004A80;
  text-align: center;
  line-height: 50px;
  transition: height 0.3s ease-in-out;
  font-size: 18;
  font-family: 'Noto Serif', serif;
  color: #efefef;
 }

 .footer:hover {
  height: 110px;
}
.footer-content {
  width: 100%;
  background-color: #004A80;
  transition: height 0.3s ease-in-out;
  font-size: 18px;
  font-family: 'Noto Serif', serif;
  color: #efefef;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

 .email { 
  width: 50%;
  text-align: left;
  padding-left: 30px;
  opacity: 2;
  font-size: 18px;
  font-family: 'Noto Serif', serif;
  color: #efefef;
  transition: opacity 0.3s ease-in-out;
 }
 
 .linkedin { 
  padding-top: 5px;
  padding-right: 30px;
  width: 50%;
  text-align: right;
  opacity: 2;
  font-size: 18px;
  font-family: 'Noto Serif', serif;
  color: white;
  transition: opacity 0.3s ease-in-out;
 }

 .linkedin a {
  text-decoration: none;
  color: white;
 }

 .fullportfolio { 
  padding-top: 5px;
  width: 50%;
  text-align: center;
  opacity: 2;
  font-size: 18px;
  font-family: 'Noto Serif', serif;
  color: white;
  transition: opacity 0.3s ease-in-out;
 }

 .fullportfolio a {
  text-decoration: none;
  color: white;
 }



  @media (orientation: portrait) {
    #content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
  }

 